<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body ng-app="flashCards">
      <div ng-include="'templates/stats.html'"></div>
      <div ng-include="'templates/newCard.html'"></div>
      <div>

      ===========

      </div>
      <div ng-controller="MainCtrl">
        <button
          border-on-hover
          ng-repeat="category in categories"
          ng-click="getCardCategory(category)"
          ng-class="{active: active == category}"
          class="category-button">{{category}}</button>
        <loader show="show" ng-show="!show"></loader>
      	<flash-card
          card="flashCard"
          ng-show="show"
          ng-repeat="flashCard in flashCards | orderBy : 'question'">
        </flash-card>
      </div>
    	<script src="js/angular.js"></script>
    	<script src="app.js"></script>
    	<script src="js/controllers/main.controller.js"></script>
      <script src="js/controllers/stats.controller.js"></script>
      <script src="js/controllers/newCard.controller.js"></script>
      <script src="js/factories/score.factory.js"></script>
      <script src="js/factories/flash-card.factory.js"></script>
      <script src="js/directives/flashCard/flashCard.js"></script>
      <script src="js/directives/loader/loader.js"></script>
      <script src="js/directives/border-on-hover/borderOnHover.js"></script>
    </body>
</html>
